.leftPanel {
  display: flex;
  flex-direction: column;
  font-family: 'lucida grande', arial, sans-serif;
  font-size: 12px;
  border: 1px solid black;
  /* transform: matrix3d(22.814348, 2.329889, 0, 0.021649, 
                    -0, 12.474184, 0, -0, 
                    0, 0, 1, 0, 
                    -5480.287285, -1234.840927, 0, 1);
  transform-origin: -400px -60px 0px; */
  
}

.buttonLeftPanel {
  height: 40px;
  font-size: 12px;
  background-color: rgb(230, 228, 235);
  padding: 0px;
  border: 1px solid white;


}

.buttonLeftPanel:active {
  background-color: rgb(80, 89, 221);
}

.buttonLeftPanel:focus {
  outline: 1px solid black;
}

.checkboxLeftPanel {
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 0px;

}

.labelLeftPanel {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  margin: 0;

}

.buttonsSet {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.buttonZoomIn {
  width: 50%;
  height: 100%;
  font-size: 12px;
  padding: 5px;
  background-color: rgb(230, 228, 235);
  border: 1px solid white;
}

.buttonZoomIn:active {
  background-color: rgb(80, 89, 221);
}

.buttonZoomIn:focus {
  outline: 0px;
}

.buttonZoomOut {
  width: 50%;
  height: 100%;
  font-size: 12px;
  padding: 5px;
  background-color: rgb(230, 228, 235);
  border: 1px solid white;
}

.buttonZoomOut:active {
  background-color: rgb(80, 89, 221);
}

.buttonZoomOut:focus {
  outline: 0px;
}
