
.create-tab-accordion {
  padding: 5px;
}

.create-tab-accordion-item-title {
  height: 20px;
  font-size: 10px;
  text-align: center;
  background: rgb(235, 233, 228);
  border: 1px solid rgb(17, 17, 17);
  border-radius: 10px;
  color:black;
  padding: 5px;
  text-transform: uppercase;
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
}

.create-tab-accordion-item-expanded .create-tab-accordion-item-title {
  background-color: rgba(240, 175, 54, 0.74);
  color: #fff;
}

.create-tab-accordion-item-body-wrapper {
  color: #666;
  position: relative;
}

.chooseUserText {
    width: 100%; 
    text-align: center;
}

.buttonsCreateTabSet {
  padding: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonCreateObject {
  width: 100%;
  height: 100%;
  font-size: 12px;
  padding: 5px;
  background-color: rgb(230, 228, 235);
  border: 1px solid white;
}

.buttonCreateObject:active {
  background-color: rgb(80, 89, 221);
}

.buttonCreateObject:focus {
  outline: 1px solid black;
}