
.react-sanfona {
  border: 1px solid #ccc;
  margin-bottom: 0px;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
}

.react-sanfona-item-title {
  height: 100%;
  font-size: 12px;
  text-align: center;
  background: #ccc;
  border-top: 1px solid #ccc;
  color: rgb(7, 7, 7);
  padding: 10px;
  text-transform: uppercase;
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
}

.react-sanfona-item-expanded .react-sanfona-item-title {
  background-color:  rgb(77, 76, 76);
  color: #fff;
}

.react-sanfona-item-body-wrapper {
  color: #666;
  padding: 5px;
  position: relative;
}

/* Text styles: */
.chooseUserText {
    width: 100%; 
    text-align: center;
}