.currentObjectSettingsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.editField {
  width: 100%;
  display: flex;
  
}

.editFieldLabel {
  width: 30%;
  
}

.editFieldInput {
  width: 70%;
  
}

.labelCurrObj {
  font-family: Helvetica;
}
