
.typeSearchList {
    width: 85%;
    height: 150px;
    list-style-type: none;
    padding: 5px; /*для удаления отступа*/
    overflow: hidden;
    overflow-y: scroll; /* для прокрутки */
    margin: 5px;
    
}

.typeSearchList::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}