.userItem {
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    -webkit-transition: background-color 2s;
    transition: background-color 2s;
}
  
.userInfo {
    display: block;
    width: 100%;
}

.userItem:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.418);
}