.userSpecialList {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.userList {
  width: 100%;
  height: 85%;
  list-style-type: none;
  
  overflow: hidden;
  overflow-y: scroll; /* для прокрутки */
  
}

.userList::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.stretchedButton {
  width: 100%;
  height: 15%;
}