.objectsListWrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.objectsList {
  width: 100%;
  height: 150px;
  list-style-type: none;
  padding-left: 0;
  overflow: hidden;
  overflow-y: scroll; /* для прокрутки */
}

.objectsListChosen {
  width: 100%;
  height: 100%;
  list-style-type: none;
  padding-left: 0;
  overflow: hidden;
  overflow-y: scroll; /* для прокрутки */
}

ul {
  margin-bottom: 0;
}

/* .objectsList::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
/*} */

