.sidePanelContainer {
  width: 400px;
  height: 802px;
  border: 1px solid black;
}

.mainAccordion {
    border: 1px solid #ccc;
}

.mainAccordion-item-title {
    height: 100%;
    font-size: 12px;
    text-align: center;
    background: rgb(235, 233, 228);
    border: 1px solid white;
    color:black;
    padding: 10px;
    text-transform: uppercase;
    -webkit-transition: background-color 2s;
    transition: background-color 2s;
}

.mainAccordion-item-expanded .mainAccordion-item-title {
    background-color: rgb(77, 76, 76);
    color: #fff;
}

.mainAccordion-item-body-wrapper {
    color: #666;
    position: relative;
}


