.userSpecialListWrapper {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.userSpecialList {
  width: 100%;
  height: 150px;
  list-style-type: none;
  padding-left: 0;
  overflow: hidden;
  overflow-y: scroll; /* для прокрутки */
  
}

ul {
  margin-bottom: 0;
}

.userSpecialList::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}


.stretchedButton {
  width: 100%;
}

