.userSimpleItem {
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    -webkit-transition: background-color 2s;
    transition: background-color 2s;
}

.selectedUserSimpleItem {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    background-color: rgba(202, 134, 250, 0.4);
}
  
.userInfo {
    display: block;
    width: 100%;
}

.userSimpleItem:hover {
    cursor: pointer;
    color: black;
    background-color: rgba(202, 134, 250, 0.4);
}