.userList {
  width: 100%;
  height: 150px;
  list-style-type: none;
  padding-left: 0; /*для удаления отступа*/
  overflow: hidden;
  overflow-y: scroll; /* для прокрутки */
  margin: auto;
  
}

.userList::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.stretched {
  width: 100%;
}