
.typeSearchList {
    width: 100%;
    height: 100%;
    list-style-type: none;
    padding: 5px; /*для удаления отступа*/
    overflow: hidden;
    overflow-y: scroll; /* для прокрутки */
    
}

.typeSearchList::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}